* {
    padding:0;
    margin:0;
}
form{
    width:300px;
    margin:0 auto;
    margin-top:50px;
}
.center{
    margin-top: 50px;
    text-align: center;
}
table.form{
    width: 500px;
    border:1px solid gray;
    margin:0 auto;
    margin-top: 50px;
}
table.form td{
    border:1px solid gray;
}
h2{
    text-align:center;
    margin-top:10px;
}
.search{
    align:center;

}